<!DOCTYPE html> 
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quick Flask!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head> 

  <body> 
      <H1>Flask app!</H1> 
      <br /> 
      {% block content %} 
      {% endblock %} 
  </body> 
</html>
