{% extends "layout.html" %} 

{% block content %} 
{% for d in data %}

    <p><em>{{ d.name }} </em> once said this: <em> {{ d.quote }} </em>
    </p> 
{% else %}
  <em>Nothing Found :(</em>
{% endfor %}
{% endblock %}
